/* How to name you class and ids */

/* 
    Any new classes that you create must begin with the name of your page.
    For example: contact us page: container class name will be .contact
    .contact
    .home
    .about
    .aboutftc
    .partners
    .certifications
    .testamonial
    .traineeship
    .404

    If the name of your class is more than one word, separate them with hyphen.
    For example: .contact-form, .about-img

*/

/* Reset the default styles of the browsers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Base styles for the website */
body {
    font: 100%/1.5 'Roboto', sans-serif;
    background-color: #fff;
    color: #1C2331;
}

h1, h2, h3 {
    color: #1F439E;
    line-height: 1.1;
}

h1 {
    font-size: 1.75rem ;
}

h2 {
    font-size: 1.5rem ;
}

h3 {
    font-size: 1.2rem ;
}

p {
    max-width: 90ch;
}

a {
    text-decoration: none;
}

main a {
    color: #F05941 ;
    text-decoration: underline;
}

main a:hover, 
main a:focus {
    color: #1f439e;
}


.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/************* PLEASE DO NOT TOUCH ANYTHING ABOVE THIS LINE; 
ONLY ADD YOUR STYLES IN YOUR DESIGNETED SECTION *************/

/************* This section is reserved for the header styles *************/
.index-header,
.about-ftc-header,
.partners-header {
  position: relative;
  height: 40vh;
  background: linear-gradient(
      0deg,
      rgba(98, 98, 98, 0.4),
      rgba(98, 98, 98, 0.4)
    ),
    url("../asset/images/home/home-header-bg-mobile.webp") no-repeat center
      center;
  background-size: cover;
}
.about-header {
  position: relative;
  height: 40vh;
  background: linear-gradient(
      0deg,
      rgba(98, 98, 98, 0.4),
      rgba(98, 98, 98, 0.4)
    ),
    url("../asset/images/about-course/about-course-header-bg-mobile.webp")
      no-repeat center center;
  background-size: cover;
}
.traineeship-header {
  position: relative;
  height: 40vh;
  background: linear-gradient(
      0deg,
      rgba(98, 98, 98, 0.4),
      rgba(98, 98, 98, 0.4)
    ),
    url("../asset//images/traineeship/traineeship-header-bg-mobile.webp")
      no-repeat center center;
  background-size: cover;
}

.testimonials-header {
  position: relative;
  height: 40vh;
  background: linear-gradient(
      0deg,
      rgba(98, 98, 98, 0.4),
      rgba(98, 98, 98, 0.4)
    ),
    url("../asset/images/testimonials/testimonials-header-bg-mobile.webp")
      no-repeat center center;
  background-size: cover;
}

.contact-header {
  position: relative;
  height: 40vh;
  background: linear-gradient(
      0deg,
      rgba(98, 98, 98, 0.4),
      rgba(98, 98, 98, 0.4)
    ),
    url("../asset/images/contact-us/contact-us-header-bg-mobile.webp") no-repeat
      center center;
  background-size: cover;
}

.certification-header {
  position: relative;
  height: 40vh;
  background: linear-gradient(
      0deg,
      rgba(98, 98, 98, 0.4),
      rgba(98, 98, 98, 0.4)
    ),
    url("../asset/images/certification/sertification-header-bg-mobile.webp")
      no-repeat center center;
  background-size: cover;
}
.header-nav img {
  margin-top: 1rem;
  width: 5rem;
}
.header-nav ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem 0 1rem 1rem;
  top: 0;
  left: 0;
  background-color: #1c2331;
  width: 50vw;
  height: 100%;
  transform: translateX(-100vw);
  -webkit-transform: translateX(-100vw);
  -moz-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  -o-transform: translateX(-100vw);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.header-nav ul li {
  list-style-type: none;
}
.header-nav ul li a:hover {
  background-color: unset;
}
.header-nav ul li:after {
  display: block;
  content: "";
  border-bottom: solid 0.1rem #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}
.header-nav ul li:hover:after {
  transform: scaleX(1);
}
.header-nav a {
  color: white;
}

.ham-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 2rem;
}
.ham-container .lines {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.ham-active .lines {
  transform: translateY(1rem) rotate(45deg);
  -webkit-transform: translateY(1rem) rotate(45deg);
  -moz-transform: translateY(1rem) rotate(45deg);
  -ms-transform: translateY(1rem) rotate(45deg);
  -o-transform: translateY(1rem) rotate(45deg);
  background-color: #f05941;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.ham-container .lines:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
}

.ham-active .lines:before {
  transform: translateX(25rem);
  -webkit-transform: translateX(25rem);
  -moz-transform: translateX(25rem);
  -ms-transform: translateX(25rem);
  -o-transform: translateX(25rem);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.ham-container .lines:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  top: 100%;
}
.ham-active .lines:after {
  transform: translateY(-0.2rem) rotate(-90deg);
  -webkit-transform: translateY(-0.2rem) rotate(-90deg);
  -moz-transform: translateY(-0.2rem) rotate(-90deg);
  -ms-transform: translateY(-0.2rem) rotate(-90deg);
  -o-transform: translateY(-0.2rem) rotate(-90deg);
  background-color: #f05941;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.ham-active ul {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
}
.header-nav-h1 {
  text-align: center;
  margin-top: 3rem;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.index-download-brochure {
  text-align: center;
  margin: 1rem auto;
  display: block;
  width: 15rem;
  height: 3rem;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #1f439e;
  border-top-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.hide-brochure,
.hide-h1 {
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transform: translateX(-100vw);
  -webkit-transform: translateX(-100vw);
  -moz-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  -o-transform: translateX(-100vw);
}
.nav-active a {
  color: #f05941;
}


/************* This section is reserved for the footer styles *************/
footer{
    background-color: #1C2331;
    color: #fff;
    padding-top: 2rem;
}

footer h3,
footer a {
    color: inherit;
}
footer a:focus,
footer a:hover{
    background-color: inherit;
    color: #FF816B;
}

footer p {
  max-width: none;
}

footer .container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}
footer h3 {
    margin-bottom: .8rem;
}

.footer-icons img{
    background-color: #fff;
    padding: .4rem;
    width: 44px;
    height: 44px;
    margin: 0 .6rem;
}

.footer-icons img:focus,
.footer-icons img:hover {
    background-color: #FF816B;
}
.footer-icons a:focus,
.footer-icons a:hover {
    background-color: transparent;
}


/************* This section is reserved for the homepage styles *************/



/************* This section is reserved for the traineeship styles *************/



/************* This section is reserved for the about course styles *************/



/************* This section is reserved for the testamonial styles *************/



/************* This section is reserved for the certifications styles *************/



/************* This section is reserved for the contact styles *************/



/************* This section is reserved for the about ftc styles *************/



/************* This section is reserved for the our partners styles *************/

ul {
    list-style: none;
}

.partnes-img {
    display: block;
    max-width: 60%;
    height: auto;
    margin: 2rem 0;
}

.partners article {
    padding-bottom: 3rem;
}
.partners-head-text{
    padding-top: 2rem;
}




/************* This section is reserved for mobile media query *************/

@media screen and (min-width: 820px) {
    /* Base Styles */

    h1{
        font-size: 2.25rem;
    }
    h2{
        font-size: 1.75rem;
    }
    h3{
        font-size: 1.25rem;
    }
    p{
        font-size: 1.125rem;
    }
    main{
        padding: 3.75rem 0;
    }
    /* Footer */
    footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start; 
        justify-content: space-between; 
    }

    .footer-item {
        flex: 0 0 46%; 
        text-align: left; 
    }
    .footer-browse {
        order: 2;
    }
    .footer-text{
        position: relative;
        top: -140px;
        order: 3;
    }
    .footer-icons{
        order: 4;
        position: relative;
        left: -10px;
    }
    .footer-contact {
        order: 5;
        position: relative;
        top: -140px;
    }
    .footer-copyright {
        order: 6;
        position: relative;
        top: 10px;
    }

   
    /* Partners */

    .partners-head-text{
        width: 60%;
    }
    .partnes-img{
        max-width: 400px;
    }

}


/************* This section is reserved for mobile media query *************/

@media screen and (min-width: 1024px) {
    /* Footer */
    footer .container {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .footer-item {
        flex: 0 0 30%; 
        text-align: left; 
    }

    .footer-contact {
        order: 2;
        position: relative;
        top: 0px;
    }
    .footer-text{
        order: 3;
    }
    .footer-icons{
    top: 30px;
    right: 15px;
        
    }
    .footer-copyright {
        flex: 0 0 100%;
        text-align: center;
        position: relative;
       top: -110px;
    }
}


